/* Search Bar */
.search {
    border-radius: 5px;
    background-color: var(--bg-color);
    height: 35px;
    width: 450px;
    margin-right: 300px;
    align-items: center;
}

.navbar__logo {
    padding: 10px 70px;
    height: 70px;
    width: auto;
}

.navbar__search-logo {
    padding: 10px;
    height: 35px;
}

.navbar__search-bar {
    border: none;
    height: 90%;
    width: 80%;
    margin-left: 10px;
    background-color: var(--bg-color);
}

.navbar__search-bar:focus {
    outline: none;
}

/* list Before search bar */
.left li {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    padding: 0 20px;
}

.left li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 3px;
    background-color: var(--myntra-pink);    /* Myntra pink */
    transition: width 0.2s ease;
}

.left li:hover::after {
    width: 100%;
}

nav span {
    position: absolute;
    font-size: 9px;
    font-weight: bold;
    left: 68px;
    top: 23px;
    color: var(--myntra-pink);
}

/* List after search bar */
.list {
    position: absolute;
    right: 40px;
    font-size: small;
    font-weight: bold;
}

.options {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.options::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0;
    height: 3px;
    background-color: var(--myntra-pink);
    transition: width 0.2s ease;
}

.options:hover::after {
    width: 100%;
}

.list img {
    height: 20px;
}


/* Ad */
.ad #adv{
    height: 280px;
    position: fixed;
    right: 0;
    top: 300px;
    cursor: pointer;
}
.bell-icon{
    position: fixed;
    right: 30px;
    top: 580px;
    height: 40px;
    width: 40px;
    background-color: var(--bell-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bell-icon img{
    height: 30px;
    width: 30px;
}
.bell-icon span{
    position: fixed;
    font-size: 12px;
    top: 590px;
    right: 75px; 
    color: var(--bg-color);
    background-color: var(--bell-tooltip-bg);
    padding: 5px;
    border-radius: 5px;
    z-index: 9999;

    opacity: 0;
    transition: opacity 0.2s ease;
}
.bell-icon:hover span{
    opacity: 1;
}


/* section-1 */
.section-1{
    margin-top: 80px;
}
.section-1 img {
    width: 100%;
    padding: 10px 0;
}

.flip-container {
    width: 100%;
    height: 100px;
    perspective: 10000px;
}

.flip-container img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateX(90deg);
}

/* section-2 */
.section-2 img {
    width: 100%;
}

/* Carousel */
.carousel {
    width: 100%;
    margin: 0 auto;
}

.carousel-viewport {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease;
}

.card {
    min-width: 16.66%;    /* 6 cards per slide */
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
}

.dot {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--dot-color);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: var(--bell-tooltip-bg);
}


/* section-3 */
.grid-box{
    display: flex;
    justify-content: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px; 
}
.grid img{
    min-width: 10%;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
}
#last-img{
    width: 100%;
}

/* Footer */
footer h6{
    padding: 10px 0;
}
footer li{
    cursor: pointer;
    font-size: small;
    color: var(--footer-font-color);
}
footer li:hover{
    filter: brightness(0.5);
}
.footer-img{
    display: flex;
    padding: 10px 0;
    gap: 10px;
    cursor: pointer;
}
.footer-img img{
    width: 150px;
}
footer .col{
    margin: 20px 0;
}