nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.127) 0px 3px 12px -2px, rgba(0, 0, 0, 0.111) 0px 3px 7px -3px;
}

section{
    width: 90vw;
    margin: 0 auto;
}

footer{
    display: flex;
    background-color: #f7f7f7;
    gap: 10%;
    justify-content: center;
}