:root{
    /* colors */
    --bg-color: #f7f7f7;
    --myntra-pink: #ff3f6c;
    --bell-color: rgb(11, 109, 221);
    --bell-tooltip-bg: #000000;
    --dot-color: #888686;
    --footer-font-color: #767676;
}